<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Gradle_Project/DemoTest/src/test/java/com/Testcases/LoginTest.java">
        <classes>
            <class name="\test\java\com\Testcases\LoginTest.java">
                <methods>
                    <include name="checktitle"/>
                    <include name="buy"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>